<footer class="footer">
    <div class="container">
        
        <div class="footer-logo">
            <a href="/" class="logo">
                <img src="/img/BookMate2.png" alt="BookMate Logo" class="footer-logo-img">
            </a>
            <p>Explore the world of books with us. Bringing the best books to your doorstep!</p>
        </div>

       
        <div class="footer-menu">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/newreleased">New Releases</a></li>
                <li><a href="/Books">Books</a></li>
            </ul>
        </div>

      
        <div class="footer-contact">
            <h4>Contact Us</h4>
            <p>Email: Readawrite@bookmate.com</p>
            <p>Phone: +123 456 7890</p>
            <p>Address: Walailak University</p>
        </div>

        
        <div class="footer-social">
            <h4>Follow Us</h4>
            <a href="#" class="social-link"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
    <!-- Copyright -->
    <div class="footer-bottom">
        <p>&copy; 2024 BookMate. All Rights Reserved.</p>
    </div>
</footer>