<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>BookMate</title>
  </head>
  <body>
   <header class="header">
      <div class="header-1">
         <a  href="/" class="logo">
            <img src="/img/BookMate2.png" alt="BookMate Logo" class="logo-img">
         </a>
         
         <form action="" class="search-form">
            <input type="search" name="" placeholder="Search for books" id="search-box" />
            <label for="search-box" class="fas fa-search"></label>
         </form>

         <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="/purchaseHistory" class="ri-time-fill"></a>
            <a href="/cart" class="fas fa-shopping-cart"></a>
            <div id="login-btn" class="fas fa-user"></div>

         </div>
      </div>
      
      <div class="header-2">
         <nav class="navbar">
            <a href="/">Home</a>
            <a href="/newreleased">New Releases</a>
            <a href="/Books">Books</a>
         </nav>
      </div>

   </header>

   <div id="loginModal" class="modal">
    <div class="modal-content">
      <span class="close-modal">&times;</span>
      <img src="/img/BookMate2.png" alt="Logo" class="modal-logo" /> <!-- Add your logo here -->
      <form id="loginForm" class="login-form">
        <div class="input-group">
          <label for="login-username">Username</label>
          <input type="text" id="login-username" placeholder="Enter your username" required />
        </div>
        <div class="input-group">
          <label for="login-password">Password</label>
          <input type="password" id="login-password" placeholder="Enter your password" required />
        </div>
        <div class="input-group remember-me">
          <input type="checkbox" id="rememberMe" />
          <label for="rememberMe">Remember Me</label>
        </div>
        <button type="submit" class="login-btn">Login</button>
        <div id="login-message"></div>
        <p class="signup-text">
          Don't have an account? <a href="/signup">Sign Up</a>
        </p>
      </form>
    </div>
  </div>
   
   <script type="text/javascript" src="/js/script.js"></script>
   <script type="text/javascript" src="/js/login.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 </body>
</html>