<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link rel="shortcut icon" type="x-icon" href="/img/BookMate2.png" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet"/>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />
      <link rel="stylesheet" type="text/css" href="styles.css" />
      <title>BookMate</title>
    </head>
  <body>
  <header>
    <%- include('navbar') %>
  </header>
<!-- Books Section -->
<section class="books-section">
  <h2>New Releases!!</h2>
  <div class="books-grid">
      <!-- Book 1 -->
      
      <!-- Book 2 -->
      
      <!-- Book 3 -->
      
         
      <!-- Book 4 -->
      <div class="book-item" data-type="Journal">
          <a href="#">
              <img src="/img/CB1.png" alt="Book 4">
              <span class="book-type">Journal</span>
              <h3>เดซาโตะ (บ.แสงแดด)</h3>
              <p>฿350.00</p>
          </a>
          <button class="add-to-cart" data-title="เดซาโตะ (บ.แสงแดด)" data-price="350.00" data-image="/img/CB1.png">Add to Cart</button>
      </div>
      <!-- Book 5 -->
      <div class="book-item" data-type="Journal">
          <a href="#">
              <img src="/img/CB2.png" alt="Book 5">
              <span class="book-type">Journal</span>
              <h3>ก๋วยเตี๋ยวไทย (บ.แสงแดด)</h3>
              <p>฿275.25</p>
          </a>
          <button class="add-to-cart" data-title="ก๋วยเตี๋ยวไทย (บ.แสงแดด)" data-price="275.25" data-image="/img/CB2.png">Add to Cart</button>
      </div>
      <!-- Book 6 -->
      <div class="book-item" data-type="Novel">
          <a href="#">
              <img src="/img/NB6.png" alt="Book 6">
              <span class="book-type">Novel</span>
              <h3>ค่ำคืนสารภาพในคืนฆาตกรรม</h3>
              <p>฿275.25</p>
          </a>
          <button class="add-to-cart" data-title="ค่ำคืนสารภาพในคืนฆาตกรรม" data-price="275.25" data-image="/img/NB6.png">Add to Cart</button>
      </div>
      <!-- เพิ่มหนังสือตรงนี้ -->
  </div>
</section>
</div>

<!-- Book Details Modal -->
<div id="bookModal" class="modal-book">
<div class="modal-content-book">
<span class="close-btn">&times;</span>
<div class="book-modal-container">
<div class="book-modal-cover">
<img id="modal-book-image" src="" alt="Book Cover" />
</div>
<div class="book-modal-info">
<h2 id="modal-book-title"></h2>
<p id="modal-book-author"></p>
<p id="modal-book-description"></p>
<p class="price" id="modal-book-price"></p>
<button class="add-to-cart-modal-btn">Add to Cart</button>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="/js/script.js"></script>
<script type="text/javascript" src="/js/add.js"></script>
<script type="text/javascript" src="/js/book.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
  </html>