<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="x-icon" href="/img/BookMate2.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>BookMate - Purchase History</title>
</head>
<body>
    <header class="header">
        <%- include('navbar') %>
    </header>

    <div class="content">
        <h2 class="history-title">Purchase History</h2>
        <div class="order-list">
            <!-- Orders will be dynamically populated here -->
        </div>
    </div>

    <footer class="footer">
        <%- include('footer') %>
    </footer>

    <script type="text/javascript" src="/js/purchaseHistory.js"></script>
</body>
</html>
